.HomePage {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);

  .social_icons {
    font-size: 1.5rem;
    text-align: center;
    .icon {
      transition: all 0.3s ease-in-out;
      -webkit-transition: all 0.3s ease-in-out;
      -moz-transition: all 0.3s ease-in-out;
      -ms-transition: all 0.3s ease-in-out;
      -o-transition: all 0.3s ease-in-out;
    }
    a {
      text-decoration: none;
      color: #dddddd;
      padding: 0 1rem;

      .linkedin:hover {
        color: #0a66c2;
      }

      .github:hover {
        color: #f7f7f7;
      }

      .twitter:hover {
        color: #4da6e9;
      }
      .facebook:hover {
        color: #38529a;
      }
    }
  } // end of social_icons class
} // end of HomePage
