.App {
  .sidebar {
    width: 20%;
    height: 100vh;
    background-color: #16213e;
    position: fixed;
    // color: #121222
  }

  .main_content {
    width: 80%;
    margin-left: 20%;
    background-color: #222831;
    min-height: 100vh;
    background-image: url(../img/Background.svg);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
  }
}
