.title {
  text-transform: uppercase;
  font-size: 2rem;
  text-align: center;
  padding-top: 1rem;
  color: #e94560;
  letter-spacing: 0.2rem;
  text-shadow: -1px -1px 0 #dddddd, 1px -1px 0 #dddddd, -1px 1px 0 #dddddd,
    1px 1px 0 #dddddd;

  h2 {
    font-weight: 500;
  }
}
