@import "./styles/layout";
@import "./styles/homepage";
@import "./styles/typography";
@import "./styles/navbar";
@import url("https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@300;400;500;700;800&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  color: #dddddd;
  font-size: 62.5%;
  font-family: "M PLUS Rounded 1c", sans-serif;
}
